{{#if controllers.foos.is_editing}}
  <button {{action deleteBar bar }} class="btn btn-action btn-mini right_button"><i class="icon-remove"></i></button>

  <button {{#linkTo "bar.edit" bar class="btn btn-action btn-mini right_button" }} <i class="icon-edit"></i></button> {{/linkTo}}

{{/if}}

{{#linkTo "bar.index" bar}}
  {{bar.name}} : {{ bar.bar_date_display }}
{{/linkTo}}
