<div class="bar_view">
  <legend>Bar Index</legend>
  <div class="row-fluid">
    <div class="span4">Name:</div>
    <div class="span8">{{name}}</div>
  </div>
  <div class="row-fluid">
    <div class="span4">Bar Date:</div>
    <div class="span8">{{ bar_date_display }}</div>
  </div>
  <p></p>
</div>


