  <div class="row-fluid">
    <div class="span4">Name:</div>
    <div class="span8">{{input value = name}}</div>
  </div>
<button {{action save}} class="btn btn-primary btn-mini">Save</button>
<button {{action cancel}} class="btn btn-danger btn-mini">Cancel</button>
