<div class="row-fluid">
  <div class="span6">
    <div class="new-view">

      <legend>New Foo</legend>

      {{partial "shared/foo_fields"}}

      <p></p>

    </div>
  </div>
  <div class="span6">
  </div>
</div>
