<div class="row-fluid">
  <div class="span4">
    <legend>Foos
        <button {{action toggleProperty 'is_editing' }} class="btn btn-action btn-mini right_button"><i class="icon-edit"></i></button>
    </legend>

    <ul class="nav nav-pills nav-stacked">
      {{#each foo in content}}
        {{view App.FooInListView contentBinding="foo"}}
      {{/each}}
    </ul>

    {{#linkTo "foos.new" class="btn btn-mini"}}New Foo{{/linkTo}}

  </div>
  <div class="span8">
    {{ outlet }}
  </div>
</div>
